@import "tailwindcss";

@theme {
  --color-sym-border: #292929;
  --color-sym-card: #080808;
  --color-sym-text-primary: #ededed;
  --color-sym-text-secondary: #a1a1a1;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
